[submodule "libs/glfw"]
	path = _external/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/imgui"]
	path = _external/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "luajitffi"]
	path = _external/luajitffi
	url = https://github.com/ousttrue/luajitffi
[submodule "luv"]
	path = _external/luv/luv
	url = https://github.com/luvit/luv.git
