[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "luajitffi"]
	path = luajitffi
	url = https://github.com/ousttrue/luajitffi
[submodule "luv"]
	path = luv
	url = https://github.com/luvit/luv.git
